body{
    color: white;
}

.product_title{
    color: green;
}
.product_description{
    color: purple;
}
.product_description{
    color: red;  
}
#product_imagen{
    width: 250px;
}
.colordiv{
    background-color: blueviolet;
}
.Des{
    background: black;
    padding: 30px;
    border: 5px;
    margin: 10px;
    color: chartreuse;

}
