body{
    color: white;
}

.product_title{
    color: green;
}
.product_description{
    color: purple;
}
.product_description{
    color: rgb(240, 235, 235);  
}
#product_imagen{
    width: 250px;
    margin: 10px;
}
.colordiv{
    background-color: rgb(217, 43, 226);
}
.Des{
    background: black;
    padding: 30px;
    border: 10px;
    margin: 10px;
    color: chartreuse;

}
.product_link{
    color: yellow;
}
.deta_boton{
    background: black;
    color: white;
    padding: 30px;
    border: 5px;
    margin: 10px;
}
.deta-h1{
    color: yellow;
    margin: 10px;
}
